*{
    margin: 0;
    padding: 0;;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#d1{
    height: 200px;
    width: 200px;
    background:linear-gradient(to right bottom,orange,white,green);
}
#d2{
    border-radius: 100px;
    height: 200px;
    width: 200px;
    background:radial-gradient(red,orange,black);
}
#d3{
    height: 200px;
    width: 200px;
    background:conic-gradient(red,orange,yellow,green,blue,indigo,violet,red);
}